.intro
  .wrapper

    .title
      Распродажа парфюмерии
      %br
      Serge Lutens

    .subtitle
      От официального дилера
      %br
      со скидкой
      %span.bold 20%
      %br
      только
      %span.bolder до 20 июля


    .button#show-form
      Получить каталог со скидкой