.intro
  .wrapper

    .title
      Продажа парфюмерии
      %br
      Serge Lutens

    .subtitle
      Дарим скидку
      %span.bold 500 рублей
      %br
      при покупке любого аромата
      %br
      Serge Lutens до
      %span.bold 25 июля


    .button#show-form
      Получить скидку 500 рублей