.overlay
.modal

  .modal-form

    .modal-title
      Оставьте ваши контактные данные
    .modal-subtitle
      чтобы с вами связался наш менеджер
      %br
      и выслал вам каталог с ценами по акции.


      

    %form
      .input-group
        %input{type: :text, name: :name, placeholder: 'Введите ваше имя'}
      .input-group
        %input{type: :text, name: :phone, placeholder: 'Введите ваш номер телефона'}

      .input-group
        %input{type: :text, name: :email, placeholder: 'Введите ваш email'}

      .button.send-form
        Отправить

  .modal-thank
    Заявка отправлена. Мы вам позвоним.